*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    overflow-x:hidden;
    }

body{
    font-family: 'Inter', sans-serif;
    background-color:#E5E5E5;
}

header img{
    width:32px;
    height: 48px;
    margin-left:16px ;
    margin-top: 24px;
    
}
.write{
    font-size:32px;
    border: none;
    height: 300px;
    background-color: #e5e5e569;
    margin: 10px auto;
    color:#0A3871;
    width: 80%;
}
textarea{
    overflow: hidden;
    margin: 50px auto;
    display: block;
}

::placeholder{
    color: #0A3871;
    font-family: 'Inter', sans-serif;
}
.indication{
    font-size: 12px;
    margin: 10px;
    display: grid;
    grid-template-columns: 5% 95%;
}

.buttons{
    display:grid;
    justify-content: center;
}
.buttons .encrypt , .decrypt{
    width: 300px;
    margin: 10px;
    height: 50px;
    border-radius: 20px;
    border: 0.5px solid #0A3871;
}
.buttons .encrypt{
    background-color: #0A3871;
    color: #ffffff;
    justify-self: center;
}
.buttons .encrypt:hover{
    background-color: #0a3871d9;
    cursor: pointer;
}
.buttons .decrypt{
    color: #0A3871;
    justify-self: start;
}
.decrypt:hover{
    background-color: rgba(136, 136, 136, 0.2);
    cursor: pointer;
}
.message{
    height: auto;
    background-color: #ffffff;
    margin: 50px 24px 40px 24px ;
    text-align: center;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
}
.message .no-message{
    font-size: 24px;
    font-weight: 700;
    border: none;
    width: 90%;
    text-align: center;
    height: 55px;
    margin: 10px auto;
}
.message .text2{
    padding-top: 10px;
    font-size: 16px;
    font-weight: 400;
    margin: 0px 10px 0px 10px;
}
.image-message{
    display: none;
}
.button-copy{
    width: 100%;
    display: grid;
    grid-template-rows: 100%;
    justify-content: center;
}
#copy{
    color: #0A3871;
    display: none;
    width: 230px;
}
#copy:hover{
    background-color: rgba(136, 136, 136, 0.2);
    cursor: pointer;
}
@media(min-width:600px){
    header{
        width: 100%;
    }
    header img{
        width: 32px;
        height: 47px;
        margin: 50px;
    }
    .write{
        height: 600px;
        margin:0 0 0 50px;
        font-size: 36px;
        width: 550px;
    }
    .indication{
        margin: 30px 50px 20px 50px;
    }
    .indication img{
        width: 25px;
        height: 25px;
    }
    .indication p{
        font-size: 20px;
        margin-left: 5px;
        width: 100%;
    }
    .buttons{
        display: grid;
        grid-template-columns: repeat(2,50%);
        width: 100%;
        margin: 0 0 0 40px;
    }
    .buttons .encrypt , .decrypt{
        height: 60px;
        font-size: 18px;
        font-weight: 400;
        width: 230px;
        margin-left: 10px;
    }

    .message{
        min-width: 500px;
        margin-left: 50px;
    }
    .message .no-message{
        height: 30px;
    }
    .message p{
        text-align: center;
        width: 100%;
    }
    #copy{
        margin-left: 80px;
    }
}

@media(min-width:1024px){
    main{
        display: grid;
        grid-template-columns: 60% 40%;
    }
    .buttons{
        padding-right: 20px;
    }
    .message{
        min-width: 300px;
        height: 90%;
        margin-top: 0;
    }
    .image-message{
        display: block;
        padding-top: 70px;
    }
    .message .no-message{
        height: 80px;
    }
    .button-copy{
        padding-right: 40px;
    }
}